/*
첫페이지-정보-병원체(web-infof-f.html) css
첫페이지-정보-전파경로(web-infof-s.html) css
페이지-정보-잠복기(web-infof-t.html) css
첫페이지-정보-증상(web-infof-fo.html) css
첫페이지-정보-치료(web-infof-fi.html) css
첫페이지-정보-치명률(web-infof-si.html) css
*/
* {
  margin: 0;
  padding: 0;
}

header {
  height: 100px;
  padding: 30px 0px 0px 0px;
  display: flex;
  justify-content: center;
  border-bottom: 5px solid gray;
}

body {
  height: 100;
  width: 1024px;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 24px;
}
p {
  padding: 10px;
}
p li {
  padding: 3px;
}
